.idea/
.htaccess
bower_components/
logs/
composer.lock
src/Core/smarty_cache
.DS_Store/
*/.DS_Store
src/Core/cache
*/styles/
*/styles/fonts/glyphicons*.*
*/scripts/
*/scripts/jquery
*/scripts/bootstrap
*/scripts/angular
*/scripts/angular-route
*/index.php

### Windows template
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

### Composer template
composer.phar
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

config

### NOTs
!src/Core/Config/
!demoapp/styles/*.*
!demoapp/styles/demo/
!demoapp/scripts/*.*