.idea/
.htaccess
bower_components/
logs/
composer.lock
src/Core/smarty_cache
.DS_Store/
src/Core/cache
*/styles/
*/scripts/
*/scripts/angular
*/scripts/angular-route
*/index.php
*/robots.txt
demoapp/Templates/root/sitemap.xml
apigen.neon
*/cli.conf.php
*App/

### Windows template
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

### Composer template
composer.phar
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

/config/global.conf.php
/config/routes.conf.php
src/Core/Scripts/cli.conf.php

### NOTs
!src/Core/Config/
!demoapp/styles/*.*
!demoapp/styles/demo/
!demoapp/scripts/*.*
!Tests/Scripts/