# Created by .gitignore support plugin (hsz.mobi)

.idea/
.htaccess
vendor/
bower_components/
logs/
composer.lock
src/Core/smarty_cache
config/
index.php
.DS_Store
*/.DS_Store
cache/*
demoapp/styles
demoapp/.DS_Store
!demoapp/styles/*.*
demoapp/styles/fonts/glyphicons*.*
demoapp/scripts/jquery
demoapp/scripts/bootstrap
demoapp/scripts/angular
demoapp/scripts/angular-route
demoapp/index.php