<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="src/Core/inc/testbootstrap.php">
    <testsuites>
        <testsuite name="Coreframework Test Suite">
            <directory>./Tests/</directory>
            <exclude>./Tests/Database/</exclude>
        </testsuite>
    </testsuites>
</phpunit>
