.debugWrp {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #ededed;
  overflow: hidden;
  width: 100%;
  border-top: 1px solid #bbbbbb;
}

.debugWrp:after {
  clear: both;
}

.debugWrp .btnWrp {
  border-left: 1px solid #bbbbbb;
  padding: 11px 10px;
  background: #ebebeb;
  position: relative;
}

.debugBox {
  width: 90%;
  position: absolute;
  overflow: hidden;
}

.debugWrp .debugBox div {
  padding: 10px 5px;
  border-left: 1px solid #bbbbbb;
}

.minimize-wrap.right.collapsed {
  width: 35px;
}
