@import "mixins";
@import "animations";

html,body {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeightsm;
  margin: 0;
  padding: 0;
  height: 100%;
}
input, select, textarea {
  outline: none;
}

footer {
  background: $footerBg;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;

  & > div {
    padding: 20px 0;
  }

  .copyrightSection {
    color: white;
    background: #111;
  }
}

.permalink {
  font-size: 14px;
  color: #e1e1e1;
  vertical-align: super;

  &:hover {
    color: #428bca;
    text-decoration: none;
  }
}

.word-wrap {
  @include word-wrap;
}

.ellipsis {
  @include ellipsis;
}

.navbar-brand {
  background: url('/images/CoreFramework-white-Logo.png') no-repeat scroll 50% 50% transparent;
  background-size: contain;
  text-indent: -999999px;
  padding: 25px 180px;

  @include max-width(998px) {
    padding: 25px 140px;
  }

  @include max-width(830px) {
    padding: 25px 100px;
  }

}
.navbar-nav, .navbar-brand {
  @include transition(0.5s all);
}

.navbar-nav {

  @include max-width(768px) {
    font-size: 12px;
  }

  &> li {
    &> a {
      @include max-width(960px) {
        padding: 15px 10px;
      }
    }
  }

}

.minimize-wrap {
  transition: all 1.5s ease-in-out 0s;
  -moz-transition: all 1.5s ease-in-out 0s;
  -webkit-transition: all 1.5s ease-in-out 0s;
  -o-transition: all 1.5s ease-in-out 0s;

  a {
    text-decoration: none;
  }

  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  &.top {
    top: 0;
  }
  &.bottom {
    bottom: 0;
  }

  &.left.collapsed, .minimize-wrap.right.collapsed {
    width: 30%;
  }
  &.top.collapsed, .minimize-wrap.bottom.collapsed {
    height: 30%;
  }
}

.mainWrp {
  min-height: 100%;
  position: relative;

  .midWrp {
    padding: 60px 0 150px;
  }

}

.midWrp {

  .sectionHeader {
    margin: 30px 0;
  }

  .subTitle {
    margin: 20px 0;
  }

  .intro, .block {
    margin: 20px 0 40px;
  }
}

.midContent {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding-top: 50px;
  padding-bottom: 60px;
}

.btn-fluid {
  width: 100%;
  padding: 15px;
  font-size: 16px;
}

#registerModal .modal-header, #loginModal .modal-header {
  border: none;
}
#registerModal .modal-footer, #loginModal .modal-footer {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

.modal-dialog {

  .row-fluid {
    overflow: hidden;
    margin-bottom: 15px;
  }

  .modal-body {

    .container-fluid {
      padding: 0;
    }

    .row-fluid {

      input {
        padding: 10px;
        width: 100%;
        background: #fff;
        border: 1px solid #e1e1e1;
        color: #333;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
      }
    }
  }

  .modal-footer {

    .row-fluid {

      div:first-child {
        margin-bottom: 15px;
        padding: 0;
      }

      .signin-wrap p {
        color: #999999;
        font-size: 14px;
      }

    }
  }
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}




// ----- Home -----

.home {
  .midWrp {
    padding: 0 0 150px;
  }
}

.home .navbar-inverse.zoomed {
  background: none;
  border: none;

  .navbar-header {

    .navbar-brand {
      display: block;
      height: 80px;
    }
  }

  .navbar-nav {
    font-size: 16px;

    & > li {
       & > a {
         padding-top: 30px;
         padding-bottom: 25px;
      }
    }
  }
}

.introSection {
  background-image:url('/images/background-img-mountains.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position:50% 50%;

  .imageContainer {
    padding:200px 0 170px;
    background: rgba(0,0,0,0.5);

    .contentWrp {

      h1 {
        margin-bottom:20px;
        color:#ffffff;
        font-size:72px;
        line-height:72px;
        display: none;
      }
      
      .subtitle {
        line-height: 40px;
        color: #ffffff;
        font-size: 30px;

        a {
          color: #ffffff;
        }
      }

      .btnWrp {
        margin: 40px 0 20px;
      }

    }
  }
}

.featuresSection {

  h1 {
    margin: 30px 0 20px;
  }

  .feature {

    & > div {
      margin: 15px 0;
    }

    .icon {
      min-height: 60px;
      text-align: center;
      color: white;

      .circle {
        height: 80px;
        width: 80px;
        padding: 20px;
        background: #2c3e50;
        border-radius: 50%;
        margin: 0 auto;
        text-align: center;

        i {
          font-size: 32px;
          line-height: 38px;

          @include small-devices {
            font-size: 26px;
            line-height: 28px;
          }

          &.fa-magic {
            line-height: 41px;

            @include small-devices {
              line-height: 30px;
            }
          }
        }
      }


    }

    .title {
      font-size: 16px;
      font-weight: 600;
    }


  }
}